#textblock {
  background-color: #210002;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: #ffaf1b;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffaf1b;
  font-size: 20px;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation,
.animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

#artback {
  background-image: url("./images/background.png");
}

#jungle1 {
  background-image: url("./images/jungle1.png");
}

#manonmountain {
  background-image: url("./images/man_on_mountain.png");
}

#birds {
  background-image: url("./images/birds_of_sky.png");
  /* width: 100%; */
  background-repeat: no-repeat;
  /* Evita la repetición de la imagen */
  border: #210002 1px solid;
  /* background-color: rgba(0, 0, 255, 1); */
  background-color: rgba(219, 234, 255, 1);

}

#clouds {
  background-image: url("./images/Nubes/Nubes #6.png");
  /* width: 100%; */
  background-repeat: no-repeat;
  /* Evita la repetición de la imagen */

}

#sun {
  background-image: url("./images/Sol.png");
  background-repeat: no-repeat;
  /* Evita la repetición de la imagen */
}


#BOTON {
  background-color: #ffaf1b;
}