#textblock {
  background-color: #210002;
  height: 100vh;
}

#textblock-container {
  color:#ffaf1b;
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

#textblock-title {
  color: #ffaf1b;
  font-size: 200%;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #3d5d02;
  font-size: 120%;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 20px;
}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#artback {
  background-image: url("./images/background.png");
  width:100%;
}

#jungle1 {
  background-image: url("./images/jungle1.png");
}

#manonmountain {
  background-image: url("./images/man_on_mountain.png");
  width:100%;
}

#BOTON {
  background-color: #ffaf1b;
}

#game-screen {
  background-color: #000000;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}

#box {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  margin-top: 50rem;
  color: white;
  font-size: 20px;
}